<h1>scores</h1>

<table>
  <tr align=left>
    <th>Game</th>
    <th>Developer</th>
    <th>Score</th>
    <th>Redeem</th>
  </tr>
<% scr=0 %>
<% @scores_by_game.each do |score| %>
   <% scr += score.sum_score %>
  <tr>
    <td><%= score.game_name %></td>
    <td><%= score.developer_name %></td>
    <td><%= score.sum_score %></td>
    <td>Redeem <%= link_to '500', scores_path({:redeem=>500,:affiliate=>'StarBucks'}) %> points: $5 StarBucks Gift card</td>      
  </tr>
<% end %>
</table>
<P></P>
  
<table>
  <tr>
    <th>Affiliate</th>
    <th>redeemed</th>
    <th>date</th>
    <th></th>
    <th></th>
  </tr>
<% rdp=0 %>
<% @redemption.each do |redeemed| %>
   <% rdp += redeemed.amount %>
  <tr>
    <td><%= redeemed.affiliate %></td>
    <td><%= redeemed.amount %></td>
    <td><%= redeemed.updated_at %></td>
  </tr>
<% end %>
</table>

<P></P>

<P><b>Total points:</b> <%= scr - rdp %></P>

<br />
Redeem points
<li><%= link_to '500', scores_path({:redeem=>500,:affiliate=>'StarBucks'}) %> points: $5 StarBucks Gift card</li>
<li><%= link_to '1000', scores_path({:redeem=>1000,:affiliate=>'Nike'}) %> points: $10 Nikes Gift card</li> 

