      <header>

        <nav class="round">
          <ul class="nav pull-right">
            <li><%= link_to 'Games', games_path %></li>
            <li><%= link_to 'Studios', studios_path %></li>
            <li><%= link_to 'Advertisers', advertisers_path %></li>
            <li></li>
            <li><%= link_to 'User', scores_path %></li>
          </ul>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  

  
        </nav>
      </header>

